
# Debug Symbols
*.dSYM

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.com
*.xml
*.out
*.xml_*
*.out_*
*.app
*.x

*.json
*.pbs
*.stdout
*.stderr
*.log

# Image files
*.eps

# Text files
*.txt

# PDB files
*.pdb

# XYZ files
*.xyz

# Directories
trainingset/
fit/
PES/
documents/
.ipynb_checkpoints/
runinfo/
.ipengine_logs/
__pycache__/ 
